.logo{
    font-family: "Special Gothic Condensed One", sans-serif;
    padding: 5px 10px;
    border-radius: 1em;
    font-size: 30px;
    color: white;
    user-select: none;
}
.Rental{
    color: rgb(182, 23, 23) !important;
    
}