a{
    text-decoration: none;
    color: white !important;
}
.movieCard {
    margin-bottom: 15px;
    
    border-radius: 1em;
    color: #fff;
    border: 3px solid #222;
    position: relative;
}

.DivPoster {
    height: 85%;
    position: relative; 
    
}
.DivPoster:hover .movieInfo{
    visibility: visible;
}
.movieInfo{
    width: 100%;
    cursor: pointer;
    visibility: hidden;
    padding: 10px;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    z-index: 1;
}

.movieCardTitle {
    height: 15%;
    padding: 10px;
}

.movieCardTitle span {
    font-size: large;
    font-weight: bold;
}

.movieCard .DivPoster .DivPosterFlex {
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.poster {
    border-radius: 1em;
    width: 100%;
    transition: 0.3s;
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
}

/* Styl dla przycisku "Dodaj" */
.activeButton{
    background-color: green !important;
    transform: rotate(90deg);
    transition: 20ms;
}
.addButton {
    position: absolute;
    top: 10px; 
    right: 10px;
    
    
    background-color: gray;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-weight: bolder;
    font-size: 14px;
    
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}



.movieCard:hover .poster{
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    filter: brightness(0.3);
}
.noCardInView{
    opacity: 0;
    transition: 3s;

}
.cardInView{
    opacity: 1;
    transition: 3s;
}