@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap");
.NavigationBar {
    background-color: black !important;
    border-bottom: 1px solid white;
    box-shadow: black 0 0 20px;
    padding: 0 !important;
}
.NavigationBar * {
    color: white !important;
    background-color: black !important;
}
.searchInput {
    background-color: #333 !important;
    border: 0 !important;
    text-align: left;
}
.searchInput::placeholder {
    color: gray !important;
}
.offCanvasNavigationBar {
    background-color: black !important;
}
.nav-link :hover {
    color: rgb(207, 207, 207) !important;
    transition: 300ms;
}
